body{
    background-color: rgb(186, 205, 211);
}
h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2.5rem;
    color:rgb(31, 36, 41);
    justify-content: center;
    text-align: center;
    padding: 2rem;
    text-transform: uppercase;
}

.container{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}